:root {
    --amarela: #f5ab00;
    --azul: #3e72bc;
    --verde: #009f93;
    --vermelha: #df1263;
}

.vermelha {
    background-color: var(--vermelha) !important;
    color: white !important;
}

.azul {
    background-color: var(--azul) !important;
    color: white !important;
}

.amarela {
    background-color: var(--amarela) !important;
    color: white !important;
}

.verde {
    background-color: var(--verde) !important;
    color: white !important;
}

.verde.amarela {
    border: 10px solid var(--amarela);
}

.verde.azul {
    border: 10px solid var(--azul);
}

.verde.vermelha {
    border: 10px solid var(--vermelha);
}

.amarela.azul {
    border: 10px solid var(--azul);
}

.amarela.vermelha {
    border: 10px solid var(--vermelha);
}

.azul.vermelha {
    border: 10px solid var(--vermelha);
}

.favorite {
    fill: white !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}